<div class="opti_sales-order-detail-content opti_position-relative opti_fullheight" id="opti_SalesOrderDetailContentID">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
  
  
            <!-- loader start -->
            <div class="opti_loader opti_loader-content-tab" *ngIf="showLoader">
                <div class="opti_spinner"></div>
            </div>
            <!-- loader end -->  
  
            
  
  
        </div>
      </div>
    </div>  
  </div>  
  
  
  
  
  