<div class="opti_sales-order-detail-attchment opti_position-relative opti_fullheight" id="opti_SalesOrderDetailAttchment">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            
            <!-- loader start -->
            <div class="opti_loader opti_loader-attachment-tab" *ngIf="showLoader">
                <div class="opti_spinner"></div>
            </div>
            <!-- loader end -->  
  
           
  
        </div>
      </div>
    </div>
  </div>   